*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body{
  background: rgb(1,32,78);
  background: linear-gradient(155deg, rgba(1,32,78,1) 26%, rgba(0,68,115,1) 83%);
  color: #212121;
  -webkit-font-smoothing: antialiased;
}
body, input, button{
  font-family: Nunito, sans-serif;
  font-size: 16px;
}
h1,h2,h3,h4,h5,strong{
  font-weight: 500;
}
button{
  cursor:pointer;
}
