.container {
  padding: 0 2rem;
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.leagueContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  div{
    margin-right: 10px;
    margin-bottom: 10px;
  }
}