  .contentContainer{
    padding: 1rem;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    background-color: #fffde7;
    border-radius: 20px;
    h3{
      margin: 1rem 0;
    }
    .top{
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }


.teams{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  div{
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.details{
  p{
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.deleteBtn{
  color: red;
 }