.contentContainer{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  background-color: #fffde7;
  border-radius: 20px;
  h3{
    margin: 1rem 0;
  }

}


.teams{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin: 1rem 0;
div{
  margin-right: 10px;
  margin-bottom: 10px;
}
}
.details{
  img{
    height: 200px;
    width: 200px;
  }
  p{
    margin-bottom: 5px;
  }
}

.deleteBtn{
  color: red;
 }

 .headerContainer{
   display: flex;
   align-items: center;
   justify-content: space-around;
 }